body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.cloud::before{ 
    content: '';
    position: absolute;

    width: 60px;
    height: 60px;
    right: 60%;
    bottom: 20%;
    z-index: 1;
   background:#ECEFF1;

   border-radius:100px 70px;
}
.cactus{
    --left:30px;
    z-index:9 ;
      position: absolute;
    width: 60;
    
    bottom:3%;
    left:var(--left);

}
.cloud{ 
   width:100px;
   height:90px;
   left: 6%;
   top: 5%;
    z-index: 5;
   position: absolute;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius: 100px 100px 60px 80px;
   animation : cloudmove 5s ease-in-out alternate infinite
}
@keyframes cloudmove {
    0%{
      transform: translateY(-10%);
    }
    100%{
         transform: translateY(5%);
        
    }
}
.cl1{
      left: 50%;
   top: 10%;
}
.cl2{
      left: 80%;
   top: 6%;
}
.cl3{
     left: 30%;
   top: 15%; 
}
.cloud::after{ 
    content: '';
    position: absolute;

    width: 60px;
    height: 55px;
    left: 65%;
    bottom: 18%;
    z-index: 1;
   background:#ECEFF1;

   border-radius:100px 100px 80px 80px;
}
.wavy-bg{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
 background-color: #1f263b;  

 
    
}
.day{
  animation: daysky 10s ease-in-out forwards infinite  ;
}
.night{
 /* animation: nightsky 10s ease-in-out forwards  infinite  ;*/
 background-color:  #1f263b; ;
}


    


@keyframes daysky {
  0%{
   background-color: #1f263b;  
  }
50%{
      
       background-color: rgba(0, 176, 255,.6);
}
  100%{
   background-color: #1f263b;  
  }

}
.wave{
 width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
       opacity: 100%;
      transition: opacity 10s ease-in-out;
}

.wave1{
    z-index: 5;
   
    background-color: #d10c479f;
   

clip-path: polygon(100% 100%, 0% 100% , 0% 96.67%, 1% 96.65%, 2% 96.61%, 3% 96.53%, 4% 96.43%, 5% 96.29%, 6% 96.13%, 7% 95.93%, 8% 95.71%, 9% 95.46%, 10% 95.18%, 11% 94.88%, 12% 94.55%, 13% 94.19%, 14% 93.81%, 15% 93.41%, 16% 92.98%, 17% 92.53%, 18% 92.06%, 19% 91.57%, 20% 91.06%, 21% 90.54%, 22% 90.00%, 23% 89.44%, 24% 88.87%, 25% 88.28%, 26% 87.69%, 27% 87.08%, 28% 86.47%, 29% 85.85%, 30% 85.22%, 31% 84.59%, 32% 83.96%, 33% 83.32%, 34% 82.69%, 35% 82.06%, 36% 81.43%, 37% 80.80%, 38% 80.18%, 39% 79.57%, 40% 78.96%, 41% 78.37%, 42% 77.78%, 43% 77.21%, 44% 76.66%, 45% 76.12%, 46% 75.59%, 47% 75.08%, 48% 74.59%, 49% 74.12%, 50% 73.67%, 51% 73.25%, 52% 72.84%, 53% 72.46%, 54% 72.11%, 55% 71.78%, 56% 71.48%, 57% 71.20%, 58% 70.95%, 59% 70.73%, 60% 70.54%, 61% 70.37%, 62% 70.24%, 63% 70.13%, 64% 70.06%, 65% 70.01%, 66% 70.00%, 67% 70.02%, 68% 70.06%, 69% 70.14%, 70% 70.24%, 71% 70.38%, 72% 70.55%, 73% 70.74%, 74% 70.96%, 75% 71.21%, 76% 71.49%, 77% 71.80%, 78% 72.13%, 79% 72.48%, 80% 72.87%, 81% 73.27%, 82% 73.70%, 83% 74.15%, 84% 74.62%, 85% 75.11%, 86% 75.62%, 87% 76.14%, 88% 76.69%, 89% 77.24%, 90% 77.82%, 91% 78.40%, 92% 78.99%, 93% 79.60%, 94% 80.21%, 95% 80.83%, 96% 81.46%, 97% 82.09%, 98% 82.72%, 99% 83.36%, 100% 83.99%);

}

.wave2{
    z-index: 2;
  
    background-color: #f7675d;
  

clip-path: polygon(100% 100%, 0% 100% , 0% 84.50%, 1% 84.48%, 2% 84.41%, 3% 84.30%, 4% 84.14%, 5% 83.94%, 6% 83.69%, 7% 83.40%, 8% 83.07%, 9% 82.69%, 10% 82.27%, 11% 81.82%, 12% 81.32%, 13% 80.79%, 14% 80.22%, 15% 79.61%, 16% 78.97%, 17% 78.30%, 18% 77.59%, 19% 76.86%, 20% 76.09%, 21% 75.31%, 22% 74.49%, 23% 73.66%, 24% 72.80%, 25% 71.92%, 26% 71.03%, 27% 70.12%, 28% 69.20%, 29% 68.27%, 30% 67.33%, 31% 66.39%, 32% 65.44%, 33% 64.49%, 34% 63.54%, 35% 62.59%, 36% 61.64%, 37% 60.70%, 38% 59.77%, 39% 58.85%, 40% 57.94%, 41% 57.05%, 42% 56.18%, 43% 55.32%, 44% 54.49%, 45% 53.67%, 46% 52.88%, 47% 52.12%, 48% 51.39%, 49% 50.68%, 50% 50.01%, 51% 49.37%, 52% 48.77%, 53% 48.20%, 54% 47.66%, 55% 47.17%, 56% 46.71%, 57% 46.30%, 58% 45.92%, 59% 45.59%, 60% 45.30%, 61% 45.06%, 62% 44.86%, 63% 44.70%, 64% 44.59%, 65% 44.52%, 66% 44.50%, 67% 44.52%, 68% 44.59%, 69% 44.71%, 70% 44.87%, 71% 45.07%, 72% 45.32%, 73% 45.61%, 74% 45.94%, 75% 46.32%, 76% 46.74%, 77% 47.19%, 78% 47.69%, 79% 48.23%, 80% 48.80%, 81% 49.41%, 82% 50.05%, 83% 50.72%, 84% 51.43%, 85% 52.16%, 86% 52.93%, 87% 53.72%, 88% 54.53%, 89% 55.37%, 90% 56.22%, 91% 57.10%, 92% 57.99%, 93% 58.90%, 94% 59.82%, 95% 60.75%, 96% 61.69%, 97% 62.64%, 98% 63.59%, 99% 64.54%, 100% 65.49%);
}
.wave6{
    z-index: 2;
   
    background-color: #e62c3b;
   

clip-path: polygon(100% 100%, 0% 100% , 0% 60.50%, 1% 60.53%, 2% 60.61%, 3% 60.74%, 4% 60.93%, 5% 61.18%, 6% 61.47%, 7% 61.82%, 8% 62.22%, 9% 62.67%, 10% 63.17%, 11% 63.72%, 12% 64.31%, 13% 64.95%, 14% 65.64%, 15% 66.37%, 16% 67.14%, 17% 67.94%, 18% 68.79%, 19% 69.67%, 20% 70.59%, 21% 71.53%, 22% 72.51%, 23% 73.51%, 24% 74.54%, 25% 75.59%, 26% 76.66%, 27% 77.75%, 28% 78.85%, 29% 79.97%, 30% 81.10%, 31% 82.23%, 32% 83.37%, 33% 84.52%, 34% 85.66%, 35% 86.80%, 36% 87.93%, 37% 89.06%, 38% 90.18%, 39% 91.28%, 40% 92.37%, 41% 93.44%, 42% 94.49%, 43% 95.52%, 44% 96.52%, 45% 97.49%, 46% 98.44%, 47% 99.35%, 48% 100.23%, 49% 101.08%, 50% 101.89%, 51% 102.65%, 52% 103.38%, 53% 104.06%, 54% 104.70%, 55% 105.30%, 56% 105.84%, 57% 106.34%, 58% 106.79%, 59% 107.19%, 60% 107.54%, 61% 107.83%, 62% 108.07%, 63% 108.26%, 64% 108.39%, 65% 108.47%, 66% 108.50%, 67% 108.47%, 68% 108.39%, 69% 108.25%, 70% 108.06%, 71% 107.82%, 72% 107.52%, 73% 107.17%, 74% 106.77%, 75% 106.32%, 76% 105.82%, 77% 105.27%, 78% 104.67%, 79% 104.03%, 80% 103.34%, 81% 102.61%, 82% 101.84%, 83% 101.03%, 84% 100.19%, 85% 99.31%, 86% 98.39%, 87% 97.44%, 88% 96.46%, 89% 95.46%, 90% 94.43%, 91% 93.38%, 92% 92.31%, 93% 91.22%, 94% 90.12%, 95% 89.00%, 96% 87.87%, 97% 86.74%, 98% 85.60%, 99% 84.45%, 100% 83.31%);
}

.wave7{
    z-index: 2;
   
    background-color: #1965ac;
   

clip-path: polygon(100% 100%, 0% 100% , 0% 90.00%, 1% 89.98%, 2% 89.92%, 3% 89.82%, 4% 89.68%, 5% 89.51%, 6% 89.29%, 7% 89.04%, 8% 88.75%, 9% 88.42%, 10% 88.05%, 11% 87.65%, 12% 87.22%, 13% 86.75%, 14% 86.25%, 15% 85.72%, 16% 85.16%, 17% 84.57%, 18% 83.96%, 19% 83.31%, 20% 82.65%, 21% 81.96%, 22% 81.24%, 23% 80.51%, 24% 79.76%, 25% 79.00%, 26% 78.22%, 27% 77.42%, 28% 76.62%, 29% 75.80%, 30% 74.98%, 31% 74.15%, 32% 73.32%, 33% 72.49%, 34% 71.66%, 35% 70.82%, 36% 70.00%, 37% 69.18%, 38% 68.36%, 39% 67.56%, 40% 66.76%, 41% 65.98%, 42% 65.22%, 43% 64.47%, 44% 63.74%, 45% 63.03%, 46% 62.34%, 47% 61.67%, 48% 61.03%, 49% 60.41%, 50% 59.82%, 51% 59.26%, 52% 58.73%, 53% 58.23%, 54% 57.77%, 55% 57.34%, 56% 56.94%, 57% 56.57%, 58% 56.25%, 59% 55.96%, 60% 55.70%, 61% 55.49%, 62% 55.31%, 63% 55.18%, 64% 55.08%, 65% 55.02%, 66% 55.00%, 67% 55.02%, 68% 55.08%, 69% 55.18%, 70% 55.32%, 71% 55.50%, 72% 55.72%, 73% 55.97%, 74% 56.26%, 75% 56.59%, 76% 56.96%, 77% 57.36%, 78% 57.79%, 79% 58.26%, 80% 58.76%, 81% 59.29%, 82% 59.85%, 83% 60.44%, 84% 61.06%, 85% 61.70%, 86% 62.37%, 87% 63.06%, 88% 63.78%, 89% 64.51%, 90% 65.26%, 91% 66.02%, 92% 66.81%, 93% 67.60%, 94% 68.40%, 95% 69.22%, 96% 70.04%, 97% 70.87%, 98% 71.70%, 99% 72.53%, 100% 73.37%);
}
.wave8{
    z-index: 8;
  
    background-color: #dd254dd8;
  

clip-path: polygon(100% 100%, 0% 100% , 0% 101.00%, 1% 100.99%, 2% 100.95%, 3% 100.89%, 4% 100.80%, 5% 100.69%, 6% 100.55%, 7% 100.39%, 8% 100.21%, 9% 100.01%, 10% 99.78%, 11% 99.53%, 12% 99.25%, 13% 98.96%, 14% 98.64%, 15% 98.31%, 16% 97.96%, 17% 97.59%, 18% 97.20%, 19% 96.80%, 20% 96.38%, 21% 95.94%, 22% 95.50%, 23% 95.04%, 24% 94.56%, 25% 94.08%, 26% 93.59%, 27% 93.09%, 28% 92.59%, 29% 92.08%, 30% 91.56%, 31% 91.04%, 32% 90.52%, 33% 89.99%, 34% 89.47%, 35% 88.95%, 36% 88.43%, 37% 87.91%, 38% 87.40%, 39% 86.89%, 40% 86.39%, 41% 85.90%, 42% 85.42%, 43% 84.95%, 44% 84.49%, 45% 84.04%, 46% 83.61%, 47% 83.19%, 48% 82.79%, 49% 82.40%, 50% 82.03%, 51% 81.68%, 52% 81.35%, 53% 81.03%, 54% 80.74%, 55% 80.47%, 56% 80.22%, 57% 79.99%, 58% 79.78%, 59% 79.60%, 60% 79.44%, 61% 79.31%, 62% 79.20%, 63% 79.11%, 64% 79.05%, 65% 79.01%, 66% 79.00%, 67% 79.01%, 68% 79.05%, 69% 79.11%, 70% 79.20%, 71% 79.31%, 72% 79.45%, 73% 79.61%, 74% 79.79%, 75% 80.00%, 76% 80.23%, 77% 80.48%, 78% 80.76%, 79% 81.05%, 80% 81.36%, 81% 81.70%, 82% 82.05%, 83% 82.42%, 84% 82.81%, 85% 83.21%, 86% 83.63%, 87% 84.07%, 88% 84.52%, 89% 84.98%, 90% 85.45%, 91% 85.93%, 92% 86.42%, 93% 86.92%, 94% 87.43%, 95% 87.94%, 96% 88.45%, 97% 88.97%, 98% 89.50%, 99% 90.02%, 100% 90.54%);
}
.wave9{
    z-index: 2;
  
    background-color: #cf16255d;
    

clip-path: polygon(100% 100%, 0% 100% , 0% 66.00%, 1% 66.03%, 2% 66.11%, 3% 66.24%, 4% 66.43%, 5% 66.68%, 6% 66.97%, 7% 67.32%, 8% 67.72%, 9% 68.17%, 10% 68.67%, 11% 69.22%, 12% 69.81%, 13% 70.45%, 14% 71.14%, 15% 71.87%, 16% 72.64%, 17% 73.44%, 18% 74.29%, 19% 75.17%, 20% 76.09%, 21% 77.03%, 22% 78.01%, 23% 79.01%, 24% 80.04%, 25% 81.09%, 26% 82.16%, 27% 83.25%, 28% 84.35%, 29% 85.47%, 30% 86.60%, 31% 87.73%, 32% 88.87%, 33% 90.02%, 34% 91.16%, 35% 92.30%, 36% 93.43%, 37% 94.56%, 38% 95.68%, 39% 96.78%, 40% 97.87%, 41% 98.94%, 42% 99.99%, 43% 101.02%, 44% 102.02%, 45% 102.99%, 46% 103.94%, 47% 104.85%, 48% 105.73%, 49% 106.58%, 50% 107.39%, 51% 108.15%, 52% 108.88%, 53% 109.56%, 54% 110.20%, 55% 110.80%, 56% 111.34%, 57% 111.84%, 58% 112.29%, 59% 112.69%, 60% 113.04%, 61% 113.33%, 62% 113.57%, 63% 113.76%, 64% 113.89%, 65% 113.97%, 66% 114.00%, 67% 113.97%, 68% 113.89%, 69% 113.75%, 70% 113.56%, 71% 113.32%, 72% 113.02%, 73% 112.67%, 74% 112.27%, 75% 111.82%, 76% 111.32%, 77% 110.77%, 78% 110.17%, 79% 109.53%, 80% 108.84%, 81% 108.11%, 82% 107.34%, 83% 106.53%, 84% 105.69%, 85% 104.81%, 86% 103.89%, 87% 102.94%, 88% 101.96%, 89% 100.96%, 90% 99.93%, 91% 98.88%, 92% 97.81%, 93% 96.72%, 94% 95.62%, 95% 94.50%, 96% 93.37%, 97% 92.24%, 98% 91.10%, 99% 89.95%, 100% 88.81%);
}
.wave10{
    z-index: 2;
    
    background-color: #f75348;
   

clip-path: polygon(100% 100%, 0% 100% , 0% 85.50%, 1% 85.48%, 2% 85.42%, 3% 85.32%, 4% 85.18%, 5% 85.01%, 6% 84.79%, 7% 84.54%, 8% 84.25%, 9% 83.92%, 10% 83.55%, 11% 83.15%, 12% 82.72%, 13% 82.25%, 14% 81.75%, 15% 81.22%, 16% 80.66%, 17% 80.07%, 18% 79.46%, 19% 78.81%, 20% 78.15%, 21% 77.46%, 22% 76.74%, 23% 76.01%, 24% 75.26%, 25% 74.50%, 26% 73.72%, 27% 72.92%, 28% 72.12%, 29% 71.30%, 30% 70.48%, 31% 69.65%, 32% 68.82%, 33% 67.99%, 34% 67.16%, 35% 66.32%, 36% 65.50%, 37% 64.68%, 38% 63.86%, 39% 63.06%, 40% 62.26%, 41% 61.48%, 42% 60.72%, 43% 59.97%, 44% 59.24%, 45% 58.53%, 46% 57.84%, 47% 57.17%, 48% 56.53%, 49% 55.91%, 50% 55.32%, 51% 54.76%, 52% 54.23%, 53% 53.73%, 54% 53.27%, 55% 52.84%, 56% 52.44%, 57% 52.07%, 58% 51.75%, 59% 51.46%, 60% 51.20%, 61% 50.99%, 62% 50.81%, 63% 50.68%, 64% 50.58%, 65% 50.52%, 66% 50.50%, 67% 50.52%, 68% 50.58%, 69% 50.68%, 70% 50.82%, 71% 51.00%, 72% 51.22%, 73% 51.47%, 74% 51.76%, 75% 52.09%, 76% 52.46%, 77% 52.86%, 78% 53.29%, 79% 53.76%, 80% 54.26%, 81% 54.79%, 82% 55.35%, 83% 55.94%, 84% 56.56%, 85% 57.20%, 86% 57.87%, 87% 58.56%, 88% 59.28%, 89% 60.01%, 90% 60.76%, 91% 61.52%, 92% 62.31%, 93% 63.10%, 94% 63.90%, 95% 64.72%, 96% 65.54%, 97% 66.37%, 98% 67.20%, 99% 68.03%, 100% 68.87%);
}


.wave3{
    z-index: 4;
    background-color: #da483d;
  
clip-path: polygon(100% 100%, 0% 100% , 0% 94.00%, 1% 93.98%, 2% 93.91%, 3% 93.80%, 4% 93.64%, 5% 93.44%, 6% 93.19%, 7% 92.90%, 8% 92.57%, 9% 92.19%, 10% 91.77%, 11% 91.32%, 12% 90.82%, 13% 90.29%, 14% 89.72%, 15% 89.11%, 16% 88.47%, 17% 87.80%, 18% 87.09%, 19% 86.36%, 20% 85.59%, 21% 84.81%, 22% 83.99%, 23% 83.16%, 24% 82.30%, 25% 81.42%, 26% 80.53%, 27% 79.62%, 28% 78.70%, 29% 77.77%, 30% 76.83%, 31% 75.89%, 32% 74.94%, 33% 73.99%, 34% 73.04%, 35% 72.09%, 36% 71.14%, 37% 70.20%, 38% 69.27%, 39% 68.35%, 40% 67.44%, 41% 66.55%, 42% 65.68%, 43% 64.82%, 44% 63.99%, 45% 63.17%, 46% 62.38%, 47% 61.62%, 48% 60.89%, 49% 60.18%, 50% 59.51%, 51% 58.87%, 52% 58.27%, 53% 57.70%, 54% 57.16%, 55% 56.67%, 56% 56.21%, 57% 55.80%, 58% 55.42%, 59% 55.09%, 60% 54.80%, 61% 54.56%, 62% 54.36%, 63% 54.20%, 64% 54.09%, 65% 54.02%, 66% 54.00%, 67% 54.02%, 68% 54.09%, 69% 54.21%, 70% 54.37%, 71% 54.57%, 72% 54.82%, 73% 55.11%, 74% 55.44%, 75% 55.82%, 76% 56.24%, 77% 56.69%, 78% 57.19%, 79% 57.73%, 80% 58.30%, 81% 58.91%, 82% 59.55%, 83% 60.22%, 84% 60.93%, 85% 61.66%, 86% 62.43%, 87% 63.22%, 88% 64.03%, 89% 64.87%, 90% 65.72%, 91% 66.60%, 92% 67.49%, 93% 68.40%, 94% 69.32%, 95% 70.25%, 96% 71.19%, 97% 72.14%, 98% 73.09%, 99% 74.04%, 100% 74.99%);

}
.wave4{
    z-index:4 ;
    background-color: #ce136159;
   
clip-path: polygon(100% 100%, 0% 100% , 0% 92.50%, 1% 92.48%, 2% 92.42%, 3% 92.31%, 4% 92.17%, 5% 91.98%, 6% 91.75%, 7% 91.48%, 8% 91.17%, 9% 90.83%, 10% 90.44%, 11% 90.02%, 12% 89.56%, 13% 89.07%, 14% 88.54%, 15% 87.98%, 16% 87.39%, 17% 86.76%, 18% 86.11%, 19% 85.43%, 20% 84.73%, 21% 84.00%, 22% 83.24%, 23% 82.47%, 24% 81.68%, 25% 80.87%, 26% 80.04%, 27% 79.20%, 28% 78.35%, 29% 77.49%, 30% 76.62%, 31% 75.75%, 32% 74.87%, 33% 73.99%, 34% 73.11%, 35% 72.23%, 36% 71.35%, 37% 70.49%, 38% 69.63%, 39% 68.77%, 40% 67.94%, 41% 67.11%, 42% 66.30%, 43% 65.51%, 44% 64.74%, 45% 63.98%, 46% 63.26%, 47% 62.55%, 48% 61.87%, 49% 61.22%, 50% 60.60%, 51% 60.01%, 52% 59.45%, 53% 58.92%, 54% 58.43%, 55% 57.97%, 56% 57.55%, 57% 57.16%, 58% 56.82%, 59% 56.51%, 60% 56.24%, 61% 56.02%, 62% 55.83%, 63% 55.69%, 64% 55.58%, 65% 55.52%, 66% 55.50%, 67% 55.52%, 68% 55.59%, 69% 55.69%, 70% 55.84%, 71% 56.03%, 72% 56.26%, 73% 56.53%, 74% 56.83%, 75% 57.18%, 76% 57.57%, 77% 57.99%, 78% 58.45%, 79% 58.95%, 80% 59.48%, 81% 60.04%, 82% 60.63%, 83% 61.25%, 84% 61.91%, 85% 62.59%, 86% 63.29%, 87% 64.02%, 88% 64.78%, 89% 65.55%, 90% 66.34%, 91% 67.15%, 92% 67.98%, 93% 68.82%, 94% 69.67%, 95% 70.53%, 96% 71.40%, 97% 72.28%, 98% 73.15%, 99% 74.04%, 100% 74.92%);
    
}
.wave5{
  
    z-index: 1;
  
    background-color: #d31932fb;
  

clip-path: polygon(100% 100%, 0% 100% , 0% 58.00%, 1% 58.03%, 2% 58.11%, 3% 58.24%, 4% 58.43%, 5% 58.68%, 6% 58.97%, 7% 59.32%, 8% 59.72%, 9% 60.17%, 10% 60.67%, 11% 61.22%, 12% 61.81%, 13% 62.45%, 14% 63.14%, 15% 63.87%, 16% 64.64%, 17% 65.44%, 18% 66.29%, 19% 67.17%, 20% 68.09%, 21% 69.03%, 22% 70.01%, 23% 71.01%, 24% 72.04%, 25% 73.09%, 26% 74.16%, 27% 75.25%, 28% 76.35%, 29% 77.47%, 30% 78.60%, 31% 79.73%, 32% 80.87%, 33% 82.02%, 34% 83.16%, 35% 84.30%, 36% 85.43%, 37% 86.56%, 38% 87.68%, 39% 88.78%, 40% 89.87%, 41% 90.94%, 42% 91.99%, 43% 93.02%, 44% 94.02%, 45% 94.99%, 46% 95.94%, 47% 96.85%, 48% 97.73%, 49% 98.58%, 50% 99.39%, 51% 100.15%, 52% 100.88%, 53% 101.56%, 54% 102.20%, 55% 102.80%, 56% 103.34%, 57% 103.84%, 58% 104.29%, 59% 104.69%, 60% 105.04%, 61% 105.33%, 62% 105.57%, 63% 105.76%, 64% 105.89%, 65% 105.97%, 66% 106.00%, 67% 105.97%, 68% 105.89%, 69% 105.75%, 70% 105.56%, 71% 105.32%, 72% 105.02%, 73% 104.67%, 74% 104.27%, 75% 103.82%, 76% 103.32%, 77% 102.77%, 78% 102.17%, 79% 101.53%, 80% 100.84%, 81% 100.11%, 82% 99.34%, 83% 98.53%, 84% 97.69%, 85% 96.81%, 86% 95.89%, 87% 94.94%, 88% 93.96%, 89% 92.96%, 90% 91.93%, 91% 90.88%, 92% 89.81%, 93% 88.72%, 94% 87.62%, 95% 86.50%, 96% 85.37%, 97% 84.24%, 98% 83.10%, 99% 81.95%, 100% 80.81%);
  

}

/*100% 100%, 0% 100% */
.route{
    width: 100%;
    height: 3%;
    position: absolute;
    background-color: #af202cb4;
  
    z-index: 9;
    bottom:0%;
}
.voiture{
    position: absolute;
    z-index: 10;
    bottom:2%;
    left:40%;
     animation: movecar 500ms linear infinite alternate ;

}
@keyframes daynight {
    0%{
      
  opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
  
}
@keyframes moved {
      0%{
        transform: translateX(-100%);
      }
    
}
@keyframes movecar {
    0%{
     transform: translateY(1%);
    }
    100%{
  transform: translateY(5%);
    }
    
}
.god{
	width: 100px;
	height: 100px;
    position: absolute;
    z-index: 10;
     top: 60%;
    left: 50%;
	border-radius: 50%;
     
     
	
}

.suny{
    z-index: 1;
    animation: Ytosunset 10s  infinite ease-in-out forwards  alternate,
		sunrise infinite 2s  linear forwards,
		sunrays infinite 2s  linear;
          ;


         
    background-color: #FFDE00;
    box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
}
.luny{
    z-index: 1;
  animation: Ytosunset 10s infinite ease-in-out forwards  alternate,
		sunrise infinite  2s linear forwards,
		moonrays infinite 2s  linear
         ;
    background-color: #F4F6F0;
  box-shadow:
		0 0 0 20px #F4F6F080,
		0 0 0 40px#F4F6F040,
		0 0 0 60px #F4F6F020,
		0 0 0 80px #F4F6F010,
		0 0 0 100px #F4F6F000,
		0 0 40px 100px #F4F6F010;
}   

@keyframes tosunset {
   0%{

      
    transform: translateY(350%);
         
    }
     30%{
         
     
   
        transform: translate(700%,50%);
     
    }
    
}
@keyframes Ytosunset {
     0%,100%{
        
      
        transform: translateY(0%);
      
    }
    50%{
        
       
      
        transform: translateY(-400%);
      
    }
        
    
}


@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes moonrays {
	0% {
		box-shadow: 
		0 0 0 0 #F4F6F080,
		0 0 0 20px#F4F6F080,
		0 0 0 40px #F4F6F040,
		0 0 0 60px #F4F6F020,
		0 0 0 80px #F4F6F010,
		0 0 40px 100px #F4F6F010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #F4F6F080,
		0 0 0 40px#F4F6F040,
		0 0 0 60px #F4F6F020,
		0 0 0 80px #F4F6F010,
		0 0 0 100px #F4F6F000,
		0 0 40px 100px #F4F6F010;
	}
}
@keyframes sunrays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}